# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.ipch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.elf
*.nds

# Build cruff
*.d
arm7/build/*
arm9/build/*
*.map
*.db
*.suo
*.opendb
*.log
*.id0
*.id1
*.nam
*.til

FileSystem/build
